<div class="container">
  <div class="card-deck">
      <div class="card text-center">
          <div class="card-block">
            <img class="card-img-top" src="assets/10.jpg" alt="Card image cap">
            <br><br>
              <h4 class="card-title">Saksham</h4>
              <p class="card-text">
                  Skill development centres, such as Computer Training Centres started at 
                  <br>Palakkad in Kerala, Vijayapura in Karnatak Dakshin and Bhilwada in 
                  <br>Chittod.Braille Printing and Audio Recording centres at Goa. Apply for parking permit
              </p>
          </div>
          <div class="btn btn-primary">
              Link
          </div>
      </div>

      <div class="card text-center">
          <div class="card-block">
            <img class="card-img-top" src="assets/9.jpg" alt="Card image cap">
            <br><br>
              <h4 class="card-title">Saksham</h4>
              <p class="card-text">
                Skill development centres, such as Computer Training Centres started at 
                  <br>Palakkad in Kerala, Vijayapura in Karnatak Dakshin and Bhilwada in 
                  <br>Chittod.Braille Printing and Audio Recording centres at Goa. Apply for parking permit
              </p>
          </div>
          <div class="btn btn-primary">
              Link
          </div>
      </div>

      <div class="card text-center">
          <div class="card-block">
            <img class="card-img-top" src="assets/8.jpg" alt="Card image cap">
            <br><br>
              <h4 class="card-title">Saksham</h4>
              <p class="card-text">
                Skill development centres, such as Computer Training Centres started at 
                  <br>Palakkad in Kerala, Vijayapura in Karnatak Dakshin and Bhilwada in 
                  <br>Chittod.Braille Printing and Audio Recording centres at Goa. Apply for parking permit
              </p>
          </div>
          <div class="btn btn-primary">
              Link
          </div>
      </div>
  </div>
  <div class="card-deck mt-4">
      <div class="card text-center">
          <div class="card-block">
            <img class="card-img-top" src="assets/7.jpg" alt="Card image cap">
            <br><br>
              <h4 class="card-title">Saksham</h4>
              <p class="card-text">
                Skill development centres, such as Computer Training Centres started at 
                <br>Palakkad in Kerala, Vijayapura in Karnatak Dakshin and Bhilwada in 
                <br>Chittod.Braille Printing and Audio Recording centres at Goa. Apply for parking permit
              </p>
          </div>
          <div class="btn btn-primary">
              Link
          </div>
      </div>

      <div class="card text-center">
          <div class="card-block">
            <img class="card-img-top" src="assets/6.jpg" alt="Card image cap">
            <br><br>
              <h4 class="card-title">Saksham</h4>
              <p class="card-text">
                Skill development centres, such as Computer Training Centres started at 
                <br>Palakkad in Kerala, Vijayapura in Karnatak Dakshin and Bhilwada in 
                <br>Chittod.Braille Printing and Audio Recording centres at Goa. Apply for parking permit
              </p>
          </div>
          <div class="btn btn-primary">
              Link
          </div>
      </div>
      <div class="card text-center">
          <div class="card-block">
            <img class="card-img-top" src="assets/3.jpg" alt="Card image cap">
            <br><br>
              <h4 class="card-title">Saksham</h4>
              <p class="card-text">
                Skill development centres, such as Computer Training Centres started at 
                <br>Palakkad in Kerala, Vijayapura in Karnatak Dakshin and Bhilwada in 
                <br>Chittod.Braille Printing and Audio Recording centres at Goa. Apply for parking permit
              </p>
          </div>
          <div class="btn btn-primary">
              Link
          </div>
      </div>
  </div>
</div>

