<iframe style="align-items: center; margin: 0 auto; display: block;" width="560" height="315" src="https://www.youtube.com/embed/vroXJ5iyMJg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            INTRODUCTION
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            Samadrishti, Kshamata Vikas Evam Anusandhan Mandal (SAKSHAM) is a charitable national organization registered at Nagpur under registration number MAH/654/2008(N). The organization has its head office in Nagpur, Maharashtra. SAKSHAM was established with an aim to bring all the persons with various disabilities in the main stream of our nation. SAKSHAM believes that the disabled people are not burden on the society but assets of the nation. Though presently dedicated to the service of visually impaired, SAKSHAM has its commitment towards all the persons
            with various disabilities and also to environment, health and other social activities to strengthen the society. Presently SAKSHAM is running following projects for INTEGRATED DEVELOPMENT OF THE DISABLED.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            MADHAV EYE BANK 
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            SAKSHAM not only propagates the importance and divinity of Eye Donation, but also manages the donation of corneas through eye banking and grafting thereof to give sight. With its pledge to establish at least 100 ‘Madhav Eye Banks’ the organization so far could establish 12 licensed eye banks in various parts of the country including the states of Maharashtra, Haryana, Uttar Pradesh, Orissa, Andhra Pradesh, Chhattisgarh etc. (Licensed eye banks =14, Eye collection Centres = 12, Awareness Centres = 24 ) By the end of year 2010 the chain of eye banks collected around 2500 cornea giving benefit to more than 800 corneal blind by sight restoration and many with the use of the cornea for therapeutic purpose.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            MADHAV AUDIO BOOKS LIBRARY
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            SAKSHAM creates books in audio form through audiocassettes, CDs etc. So far over 500 books have been created with more than 15000 cassettes by SAKSHAM’s Nagpur unit. The service is provided Free Of Cost to needy blind students. The books are first created in Audio Book form with the help of voice recordings by more than 50 volunteers from various fields including housewives, retired people, professionals, teachers, students who lend their voice to record the books either on cassettes or in the digital form in computers. The cassettes are then multiplied or the audio tracks edited and provided to needy blind students for study. We got 7000 blank audio cassettes thru “Cassette Tula” of BJP National President Hon. Nitinji Gadkari. Weight of cassettes equaling his weight. SAKSHAM runs such Audio Books Libraries at Nagpur, Kalyan, and Kolhapur in Maharashtra and Ambala in Haryana.
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            MADHAV BRAILLE BOOKS CREATION CENTRE
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            In view of providing ‘Sanskar Sahitya’ (Literature giving the values in life) SAKSHAM’s Nagpur, Kalyan, Akola (Maharashtra) units are also creating books in Braille Script through computers. The volunteers force mainly comprising of either housewives or retired people who after a brief training of computer orientation now contributing to this service and created around 80 books in short span of three years. The books include first ever Braille Versions of some important Marathi Granthas (Large volume books) like Samarth Ramdas Swami written ‘DASBODH’, Rashtra Sant Tukadoji Maharaj written ‘GRAAMGEETA’, The famous bird watcher Shri. Maruti Chitampalli written ‘RAANVAATA’, and many other books along with books related to curriculum.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            KRISHNAJVOTI AGARBATTHI NIRMAN KENDRA
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            At this centre of SAKSHAM in Palakkad, Kerala, blind people are manufacturing incense sticks and soap successfully earning their living and now they are no longer depending upon the society. The demand is more than supply at present and therefore there is need to raise the production capacity.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            BLIND WOMEN HOSTEL
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
            In Kaladi, Kerala SAKSHAM is running a hostel for visually challenged women where blind student girls and other blind women are housed with a facility of good food and honorable living.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            SWARADRISHTI
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
          <div class="card-body">
            A musical group in Nagpur comprising of visually challenged, physically handicapped as well as normal artists is actively presenting musical programme to earn ‘Maandhan’ (Money of honor) that is distributed amongst blind and orthopedically challenged artists.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            SURDAS BHAIAN MANDALI
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
          <div class="card-body">
            SAKSHAM’s Palakkad, Kerala unit has many groups of music loving visually challenged people who present regular music programs of devotional songs and earn their living.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            LEGAL ADVISE CELL
            </button>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
          <div class="card-body">
            The physically challenged people face many problems when they attempt to seek job or facilities they deserve as their legal rights. The apathy and ignorance of the society is the responsible factor for this. Counseling of such sufferers is undertaken with proper guidance under this Legal Advise Cell at Nagpur.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            SAKSHAM PHOTOCOPY CENTRE
            </button>
          </h5>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
          <div class="card-body">
            An orthopedically challenged youth is being rehabilitated through a training and job to run this photocopying centre at Nagpur by SAKSHAM recently.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingElleven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseElleven" aria-expanded="false" aria-controls="collapseElleven">
            AVURVEDIC AUSHADI NIRMAN KENDRA
            </button>
          </h5>
        </div>
        <div id="collapseElleven" class="collapse" aria-labelledby="headingElleven" data-parent="#accordionExample">
          <div class="card-body">
            SAKSHAM Varanasi UP unit’s team of blind persons has been trained to produce some daily need Avurvedic medicines through this project.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwelve">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
            MARRIAGE BUREAU FOR PHYSICALLY CHALLENGED
            </button>
          </h5>
        </div>
        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
          <div class="card-body">
            At Nasik, Maharashtra and New Delhi an activity of arranging marriages amongst physically challenged is run since last many years by SAKSHAM unit.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThirteen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
            RECREATION CENTER FOR PHYSICALLY HANDICAPPED
            </button>
          </h5>
        </div>
        <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
          <div class="card-body">
            Like their sighted counterparts blind people also need some moments for recreation. If such centers where a facility to regular visit for entertainment, recreation, hobby class, etc. is available through providing story books in Braille and audio, music system,TV, audio books, audio games in computers, toys, accessible indoor and outdoor games, clay models making, and many other activities. One such centre has recently been inaugurated at Akola, Maharashtra.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingForteen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseForteen" aria-expanded="false" aria-controls="collapseForteen">
            SAKSHAM LOW VISION ENHANCEMENT CENTRE
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingForteen" data-parent="#accordionExample">
          <div class="card-body">
            Low vision is a subject not popularly known to people in our country. A category between Sightedness and Blindness, which can not be corrected with medicines, surgery or use of spectacle correcting refractive error. In fact about 75-80% visually challenged are facing low vision problem. To comfort such sufferers by providing magnifiers designed by Dr. Ramesh Sathe of Pune a Low Vision Enhancement centre was established at Nagpur in collaboration with Vijaya Memorial Trust, Pune. Many people are benefited through this centre so far. SAKSHAM organized low vision enhancement camps in Gadchiroli and Nagpur Districts especially for primary standard low vision students and screened more than 300 children of which around 65 to 70 students have been benefited. Presently SAKSHAM runs Low Vision Enhancement Centres at Nagpur, Kalyan, Kolhapur (Maharashtra) and Ambala (Haryana).
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFifteen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
            SAKSHAM’S REGULAR EVENTS:-
            </button>
          </h5>
        </div>
        <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample">
          <div class="card-body">
            <p>Louis Braille (inventor of Braille script) birth anniversary on 4th January – The inventor of Braille script is duly remembered by SAKSHAM every year by organizing events related Braille reading, writing, books publishing, etc.</p>
            <p>Sant Surdas Jayanthi – Saint Surdas is the source of inspiration for all the visually impaired in India. In spite of his blindness Sant Surdas’s description of Lord Shri Krishna in his literature and bhajans is so much amazing that it has inspired thousands of sighted scholars to undertake research Raksha Bandhan – Signifying the bonding between human being the Raksha Bandhan festival is celebrated by SAKSHAM by sighted members tying rakhi’s to their blind friends assuring them about support and cooperation Saksham Foundation Day – SAKSHAM was founded on 25th June 2008. Ever since the day is observed by organizing various events for the benefit of various kinds of differently able.</p>
            <p>Eye Donation Fortnight – Nationwide the Eye Donation Fortnight is observed during 25th August to 8th September every year. SAKSHAM undertakes intense campaigning for inspiring people to pledge for eye donation during this fortnight. Thanks to its consistent awareness campaign more than 2500 eyes have so far been donated to SAKSHAM managed Eye Banks all over the country enabling and restoring sight for more than 800 corneal blind.</p>
            <p>World Disability Day – To mark the world disability day in December every year SAKSHAM marks the day by giving assistive aids to disabled and explores job potentials for them with the help of local industries, businesses Protection of the environment is also on the agenda of SAKSHAM. Hence “The Vasundhara Diwas” is also observed by the organization. SAKSHAM celebrates “Helen Keller Jayanti”. An icon of showing excellence of the capacity even being a sufferer of multiple disabilities Helen Keller has always been a source of building confidence amongst the disable</p>
          </div>
        </div>
    </div>
    