<div class="container"  style='background-color: #333;padding: 0.5%;'> <div class=" text-center mt-5 ">
    <h1 style="color: white;">Volunteer Registration Form</h1>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form id="contact-form" role="form">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Firstname <label style="color: red;">*</label></label> <input autofocus id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required."> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_lastname">Lastname <label style="color: red;">*</label></label> <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required."> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_need">State <label style="color: red;">*</label></label> <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                                                <option value="" selected disabled>--Select Your State--</option>
                                                <option>Maharastra</option>
                                                <option>Delhi</option>
                                                <option>Tamil Nadu</option>
                                                <option>Kerla</option>
                                            </select> </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_email">Email <label style="color: red;">*</label></label> <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required."> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_need">City <label style="color: red;">*</label></label> <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your city.">
                                                <option value="" selected disabled>--Select Your City--</option>
                                                <option>Mumbai</option>
                                                <option>Bengaluru</option>
                                                <option>Chennai</option>
                                                <option>Pune</option>
                                            </select> </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group"> <label for="form_message">Address <label style="color: red;">*</label></label> <textarea id="form_message" name="message" class="form-control" placeholder="Write your message here." rows="3" required="required" data-error="Please, Enter Address."></textarea> </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Pincode <label style="color: red;">*</label></label> <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Pincode is required."> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_need">Education <label style="color: red;">*</label></label> <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your education.">
                                                <option value="" selected disabled>--Select Your Education--</option>
                                                <option>10th Pass</option>
                                                <option>12th Pass</option>
                                                <option>Graduate</option>
                                                <option>Postgraduate</option>
                                            </select> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_need">Blood Group <label style="color: red;">*</label></label> <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your blood group.">
                                                <option value="" selected disabled>--Select Your Blood Group--</option>
                                                <option value="A+">A+</option>
                                                <option value="A-">A-</option>
                                                <option value="B+">B+</option>
                                                <option value="B-">B-</option>
                                                <option value="AB+">AB+</option>
                                                <option value="AB+">AB-</option>
                                                <option value="O-">O-</option>
                                                <option value="O+">O+</option>
                                                <option value="Don't know">Don't Know</option>
                                            </select> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Date Of Birth <label style="color: red;">*</label></label> <input id="form_name" type="date" name="name" class="form-control" placeholder="Please enter your DOB *" required="required" data-error="DOB is required."> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Mobile Number <label style="color: red;">*</label></label> <input id="form_name" type="number" name="name" class="form-control" placeholder="Please enter your mobile number *" required="required" data-error="Mobile number is required."> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Occupation <label style="color: red;">*</label></label> <input id="form_name" type="number" name="name" class="form-control" placeholder="Please enter your occupation *" required="required" data-error="Mobile number is required."> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_need">Type of disability <label style="color: red;">*</label></label> <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your disability.">
                                                <option value="" selected disabled>--Select Your Disability type--</option>
                                                <option>Vision Impaired</option>
                                                <option>Deaf or hard of hearing</option>
                                                <option>Mental health conditions</option>
                                                <option>Intellectual disability</option>
                                            </select> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_name">Resume <label style="color: red;">*</label></label> <input id="form_name" type="file" name="name" class="form-control" placeholder="Please Add your file *" required="required" data-error="File is required."> </div>
                                    </div>
                                </div>
                                
    
                                <div class="row">
                                    <div class="form-group"> <label for="form_name">I hereby agree that all the information provided by me is correct.  <label style="color: red;">*</label></label> <input id="form_name" type="checkbox" name="name" required="required" data-error="Please tick checkbox."> </div>
                                    <div class="col-md-12"> <input type="submit" class="btn btn-success btn-send pt-2 btn-block " value="Submit"> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /.8 -->
        </div> <!-- /.row-->
    </div>
    </div>
    