<body>                 
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="assets/saksham-logo.jpg" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mt-3 mt-lg-0 ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['aboutus']">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['activites']">Our Activities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['branches']">Branches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['employment']">Employment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['marriage']">Marriage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['eyedonation']">Pledge Your Eyes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['gallery']">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['joinus']">Join Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['contactus']">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['login']">Login</a>
            </li>
          </ul>
        </div>
      </nav>

      <br>
      <router-outlet></router-outlet>
      <br>
      <!-- Footer -->

<footer class="page-footer font-small blue pt-4 bg-dark">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h2 style="color: white;background-color: #4CAF50; width: 30%;padding: 2%;"> Saksham</h2>
        <p style="color: white;">Samadrishti, Kshamata Vikas Evam Anusandhan Mandal 
          (SAKSHAM) is a charitable national organization 
          registered at Nagpur under registration number 
          MAH/654/2008(N). The organization has its head 
          office in Nagpur, Maharashtra.</p>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <!--<div class="col-md-3 mb-md-0 mb-3">

            
            <h5 style="color: white;background-color: #4CAF50; width: 100%;padding: 2%;">Our Address</h5>

            <ul class="list-unstyled">
              <li>
                <a style="color: white;">Madhav Netrapedhi, 16, Devadutta Bhavan, Ranapratap Square, Pratap Nagar, NAGPUR (Mah.) 440022</a>
              </li>
              <br>
              <li>
                <a href="#!">esaksham@yahoo.com</a>
              </li>
            </ul>

          </div>-->
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3 ml-auto">

            <!-- Links -->
            <h2 style="color: white;background-color: #4CAF50; width: 40%; padding: 2%;">Links</h2>
            <br>
            <ul class="list-unstyled">
              <li>
                <a style="width: 50%;" href="https://www.facebook.com/SakshamSevaOrganisation/" class="fa fa-facebook"> facebook</a><br>
                <a style="width: 50%;" href="https://twitter.com/SakshamSevaOrg" class="fa fa-twitter"> twitter</a><br>
                <a style="width: 50%;" href="https://www.youtube.com/channel/UCbnBXO3In4QgkcZ8oD_QY-w" class="fa fa-youtube"> youtube</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->
      <!-- Copyright -->
      
      <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright:
        <a style="color: white;"> SakshamPM.com</a>
        <a class="footer-copyright text-center py-3" style="color: white;"> Devloped by : Mihir Tanksale</a>
      </div>
      
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
    </body>



