<h1 style="text-align: center;">Select Option</h1>
<div style="display: block;align-items: center;margin: 0 auto;width: 20%;"> 
    <button type="button" class="btn btn-primary btn-lg btn-block btn-huge" routerLinkActive="active" routerLink="/admin-gallery-details">View Data</button>
</div><br>
<div style="display: block;align-items: center;margin: 0 auto;width: 20%;"> 
<button type="button" class="btn btn-success btn-lg btn-block btn-huge" routerLinkActive="active" routerLink="/admin-gallery">Add Data</button>
</div>
